{{! Biography Tab }}
<section class='details'>
    <section class="hook">
        <label>{{localize 'RISUS.Actor.Character.FIELDS.hook.label'}}</label>
        {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
        {{#if editable}}
            <prose-mirror name="system.hook" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.hook}}"
                          collaborate="true" toggled="true">
                {{{enrichedHook}}}
            </prose-mirror>
        {{else}} {{{enrichedHook}}}
        {{/if}}
    </section>
    <section class="tale">
        <label>{{localize 'RISUS.Actor.Character.FIELDS.tale.label'}}</label>
        {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
        {{#if editable}}
            <prose-mirror name="system.tale" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.tale}}"
                          collaborate="true" toggled="true">
                {{{enrichedTale}}}
            </prose-mirror>
        {{else}} {{{enrichedTale}}}
        {{/if}}
    </section>
</section>